<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %} - Spectrum</title>

  <link rel="icon" href="https://static.thenounproject.com/png/2446816-200.png">
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Spectrum</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#api">Api</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#github">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% block content %}

{% endblock %}

  <section id='how-to-use' class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>How-to-use</h2>
          <p class="lead">To generate text with Spectrum first thing you must do is pick a seed text, seed text might be anything a word, sentence, or a paragraph something you believe will make sense to AI after that you can press the generate button and see AI's prediction about your seed.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About Spectrum</h2>
          <p class="lead">Spectrum is an AI that uses deep learning to generate rap song lyrics you can see the live demo from your browser type a seed text and generate rap songs around 1000 characters. If you want to know how to use the web app you can check out the how-to-use section above.</p>

          <h3>Spectrum is built with</h3>
          <ul>
            <li>Python</li>
            <li>TensorFlow & Keras</li>
            <li>Flask</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="api" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>API</h2>
          <p class="lead">Spectrum has a free web API to learn about example API request, sample response and more you can check out the Github repo</p>
        </div>
      </div>
    </div>
  </section>

  <section id="github">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>GitHub</h2>
          <p class="lead">Spectrum is an open-source project you can explore the code, contribute or just mess around via the GitHub link below</p>
          <a href="https://github.com/YigitGunduc/Spectrum"><button type="button" class="btn btn-success">See the GitHub Repository</button></a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container text-center">
                  <p class="text-warning">PLEASE NOTE - Spectrum learns from existing rap lyrics - things it says may seem inappropriate - use with discretion and at YOUR OWN RISK</p>
            <p class="text-danger">PARENTAL ADVICE - whatever it says, visitors never talk to a human - the AI knows many topics - use ONLY WITH OVERSIGHT</p>
      <p class="m-0 text-center text-white">See source Code and Docs at <a href="https://github.com/YigitGunduc/Spectrum">GitHub</a> Copyright &copy; Yiğit Gündüç 2020 - 2021 </p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

</body>

</html>