{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
  <header class="bg-primary text-white" style="background-image: url(/static/colourful-background-with-graphic-equaliser-design_1048-11126.jpg);background-repeat: no-repeat;background-size: 100% 100%; " >
    <div class="container text-center">

      <h1>Spectrum</h1>
      <p class="lead">AI that generates Rap and Hip-hop song lyrics</p>
    </div>
    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="post">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="text" name="nm" class="form-control form-control-lg" placeholder="Seed text...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" value="submit" class="btn btn-block btn-lg btn-info">Generate</button>
              </div>
            </div>
          </form>
          <div class="container text-center">
          <p class="text-warning">Generating text may take a while please wait*</p>
        </div>
        </div>
  </header>
{% endblock %}